<h1 id="tableLabel">Rest APIs To Fetch Results</h1>

<h5>JSON </h5>

<p>http://{{host}}/api/json/<b><u>tradeId</u></b></p>
<p>http://{{host}}/api/json/<b><u>tradeId</u></b>/version/<b><u>version</u></b></p>
<p>http://{{host}}/api/json/<b><u>tradeId</u></b>/compare-versions/<b><u>versions</u></b></p>
<p>http://{{host}}/api/json/<b><u>tradeId</u></b>/compare-versions-v2/<b><u>versions</u></b></p>

<h5>CSV</h5>

<p>http://{{host}}/api/csv/<b><u>tradeId</u></b></p>
<p>http://{{host}}/api/csv/<b><u>tradeId</u></b>/version/<b><u>version</u></b></p>
<p>http://{{host}}/api/csv/<b><u>tradeId</u></b>/compare-versions/<b><u>versions</u></b></p>
<p>http://{{host}}/api/csv/<b><u>tradeId</u></b>/compare-versions-v2/<b><u>versions</u></b></p> 
